.password_wrapper {
    position: relative;
    width: 100%;
}

.password_wrapper input {
    width: 100%;
    padding-right: 40px;
}

.togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
}

/* #eye_open{
    display:block;
}

#eye_closed{
    display:none;
} */

.password_wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.password_wrapper input {
    width: 100%;
    padding-right: 40px; /* chừa chỗ cho icon */
}


#togglePassword {
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    color: #999;
}

/* #eye_closed {
    display: none;
} */