.password_wrapper {
    position: relative;
    width: 100%;
}

.password_wrapper input {
    width: 100%;
    padding-right: 40px;
}

.togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
}

#eye_open{
    display:none;
}

#eye_closed{
    display:none;
}