body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to bottom right, #6DBDFF, #2e9df75e); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot_password_content {
    padding: 30px 20px;
    background: linear-gradient(to bottom right, #6DBDFF, #2E9DF7);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}
/* Đặt riêng nút back */
.back_button a{
    display: inline-block;      /* Rất quan trọng: không để full width */
    margin-bottom: 10px;        /* Cách dưới một chút */
    background: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

.back_button a:hover {
    background: #0056b3;
}


.forgot_password_content h2{
    margin: 20px 0px 5% 0;
    font-size: 24px; 
    color: #2c3e50;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif; /* Font dễ đọc */
}

.login-container1 h2 span {

    color: #273896;

}


.forgot_password_content input[type="text"]{
    width: 100%;
    padding: 10px 14px;
    border: 3px solid rgba(39, 56, 150, 0.82);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    margin: 10px 0;
    transition: border-color 0.3s ease;
}
.forgot_password_content input[type="password"]{
    width: 100%;
    padding: 10px 14px;
    margin: 10px 0;
    border: 3px solid rgba(39, 56, 150, 0.82);
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}
.forgot_password_content input::placeholder {
    color: rgba(0, 0, 0, 0.4); 
}

.forgot_password_content input:focus{
    border-color: #007bff;
}

.forgot_password_content button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.forgot_password_content button:hover{
    background: #0056b3;
}

.logo_usth,
.logo_ioit{
    width:100%;

}
.logo_usth img{
    max-width: 100%;
    height: auto;
}
.logo_ioit img{
    max-width: 70%;
    height: auto;
}

.note {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.8); /* Trắng hơi trong suốt */
    margin: 5px 0 10px;
    font-style: italic;
}

.forgot_password {
    text-align: right;
    font-size: 0.9rem;
    color: #064789;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.forgot_password:hover {
    color: #0056b3;
    text-decoration: underline;
}
