
.table_data p{
    margin-bottom: 2%;
    color: #2c3e50;
    font-weight: bold;
    font-size: 20px;
}
.table_data{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border-radius: 12px;
    border: none;
    overflow-x: auto;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-bottom: 2%;
    box-shadow: 6px 6px 0px 0px rgb(0, 0, 0);
}

.table_data td, .table_data th {
    vertical-align: middle;
}


.table_data tr,
.table_data td,
.table_data th {
    border: 1px solid black;
    text-align: center;
    padding: 10px 15px;
    vertical-align: middle;
}
.table_data th {
    font-weight: bold;
}
.table_data tr:hover {
    background-color: #dad8d8;
}