.box_form {
    width: 90%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-bottom: 2%;
    box-shadow: 6px 6px 0px 0px rgb(0, 0, 0);
}

#threshold .push_threshold {
    background-color: #5D60EF;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 5px 10px;
}

#threshold .push_threshold:hover {
    background-color: #787BFA;
    transform: scale(1.1);
}
.form_row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
}

.form_row label {
    width: 51%;
}

.form_row input {
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
