<!DOCTYPE html>
<html>
<head>
    <title>4 Block</title>
    <script>
        function fetchData12() {
            fetch("/sensor_data12")
                .then(res => res.json())
                .then(data => {
                    const now = new Date();
                    const timeNow = now.toLocaleString();

                    for (let block in data) {
                        document.getElementById(block + "_temp").innerText = "Temp: " + data[block].temperature + "°C";
                        document.getElementById(block + "_humi").innerText = "Humi: " + data[block].humidity + "%";
                        document.getElementById(block + "_fire").innerText = "Fire: " + data[block].fire;
                        document.getElementById(block + "_time").innerText = "Timestemp: " + timeNow;
                    }
                })
                .catch(err => console.log("Lỗi:", err));
        }
        function fetchData34() {
            fetch("/sensor_data34")
                .then(res => res.json())
                .then(data => {
                    const now = new Date();
                    const timeNow = now.toLocaleString();

                    for (let block in data) {
                        document.getElementById(block + "_temp").innerText = "Temp: " + data[block].temperature + "°C";
                        document.getElementById(block + "_humi").innerText = "Humi: " + data[block].humidity + "%";
                        document.getElementById(block + "_fire").innerText = "Fire: " + data[block].fire;
                        document.getElementById(block + "_time").innerText = "Timestemp: " + timeNow;
                    }
                })
                .catch(err => console.log("Lỗi:", err));
        }

        setInterval(() => {
            fetchData12();
            fetchData34();
        }, 1000);

        window.onload = function () {
            fetchData12();
            fetchData34();
        };

    </script>

</head>
<body>
    <h1>Test</h1>
    {% for i in range(1, 5) %}
    <div>
        <h2>Block{{ i }}</h2>
        <p id="Block{{ i }}_temp">Temp: --</p>
        <p id="Block{{ i }}_humi">Humi: --</p>
        <p id="Block{{ i }}_fire">Fire: --</p>
        <p id="Block{{ i }}_time">Time: --</p>
        <hr>
    </div>
    {% endfor %}
</body>
</html>
