.dashboard .dashboard_content {
    border-radius: 10px;
    height: 100vh;
    padding: 5px 0;
}
.dashboard{
    background: linear-gradient(90deg, #c8b9cce0, #2a82b480);

}
.dashboard .dashboard_content .logo {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    padding-bottom: 15px;
}

.dashboard .dashboard_content .logo img {
    width: 60%;
    height: auto;
}

.mat_san {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-bottom: 2%;
    box-shadow: 6px 6px 0px 0px rgb(0, 0, 0);
}
.mat_san h3{
    text-align: left;
}
.box_content img {
    width: 60%;
    height: auto;
}

.pc_frame {
    display: flex;
    width: 100%;
}

.right_content {
    border: 1px solid red;


    width: 70%;
    background-color: white;
}


li p {
    font-size: 20;
    color: #FFFFFF;
    height: 100%;

}
.menu {
    width: 100%;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu li {
    width: 200px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5D60EF;
    margin-bottom: 2%;
    border-radius: 10px;
}

.menu li:hover {
    background-color: darkblue;
}

.menu p {
    margin: 0;
}



.mat_san p{
    color: #2c3e50;
    font-weight: bold;
    font-size: 20px;
}

.table_dashboard p{
    margin-bottom: 2%;
    color: #2c3e50;
    font-weight: bold;
    font-size: 20px;
}
.table_dashboard ,
.table_event{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border-radius: 12px;
    border: none;
    overflow-x: auto;
    border: 2px solid rgba(0, 0, 0, 1);
    margin-bottom: 2%;
    box-shadow: 6px 6px 0px 0px rgb(0, 0, 0);
}
.table_event td, .table_event th,
.table_dashboard td, .table_dashboard th {
    vertical-align: middle;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #333;
}


table tr,
table td,
table th {
    border: 1px solid black;
    text-align: center;
    padding: 10px 15px;
    vertical-align: middle;
}
table th {
    font-weight: bold;
}
table tr:hover {
    background-color: #dad8d8;
}

.box_circle {
    position: relative;
    height: 100%;
}

.box_circle .box_fire {
    position: absolute;
    /* Cao 	#d00000
       Vừa  #ccc */
    background-color: green;
    /* border-radius: 100%; */
    z-index: 1;
    height: 60%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.box_circle .box_temp {
    position: absolute;
    /* Cao 	#f94144
       Trung bình  #f9c74f*/
    background-color: #b7e4c7;
    border-radius: 100%;
    height: 50%;
    width: 42%;
    top: 40%;
    border: 1px solid #f9f9f9;
    /* transform: translateX(-50%); */
}


.box_circle .box_humi {
    position: absolute;
    /* Cao 	#219ebc
       Thấp  #ade8f4*/
    background: #ade8f4;

    border-radius: 100%;
    height: 50%;
    width: 42%;
    right: 0%;
    top: 40%;
    /* transform: translateX(-50%); */
}

.box_circle .box_fire p,
.box_circle .box_temp p,
.box_circle .box_humi p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.content_box p {
    padding: 10px 0;
}

/* .content_box .fa-fire {
    color: red;
} */

.namepage h3{

    color: #260f6c;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}




