.box_khoi{
    height: 180px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    background-color: white;
    padding: 2% 2%;
    margin-bottom: 4%;
    transition: transform 0.2s ease;
    background: linear-gradient(145deg, #dfe9f3, #ffffff);

}

/* --------------------------------------------------- */
.box_khoi:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 15px rgba(0,0,0,0.25);
}
.name_block{
    color: #2c3e50;
    font-weight: bold;
}

.box_circle {
    position: relative;
    height: 100%;
}

/* Box Alert */
.box_circle .box_fire {
    position: absolute;
    /* High 	#d00000
       Medium  #ccc */
    background-color: green;
    z-index: 1;

    height: 58%;
    width: 62%;
    top: 10%;
    left: 55%;

    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.box_circle .box_temp {
    position: absolute;
    /* High    #f94144
       Medium  #f9c74f*/
    background-color: #b7e4c7;
    border-radius: 100%;
    height: 50%;
    width: 51%;
    top: 49%;
    left: 5%;
    border: 1px solid #f9f9f9;
}

.box_circle .box_humi {
    position: absolute;
    /* High	#219ebc
       Low  #ade8f4*/
    background: #ade8f4;

    border-radius: 100%;
    height: 50%;
    width: 51%;
    top: 49%;
    right: -5%;
}

.box_circle .box_fire p,
.box_circle .box_temp p,
.box_circle .box_humi p {
    color: white;
    text-shadow: 0 0 10px black;
    font-weight: bold;
}

.box_circle .box_fire p,
.box_circle .box_temp p,
.box_circle .box_humi p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;
}
/* --------------------------------------------------- */




/* --------------------------------------------------- */
/* Scroll */
.col_roll {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
}

.col_roll::-webkit-scrollbar {
    width: 6px;
}

.col_roll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.col_roll::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
}

.col_roll::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.5);
}

.col_roll::-webkit-scrollbar-button {
    height: 8px;
    background: rgba(100, 100, 100, 0.2);
    border-radius: 50%;
}

.col_roll::-webkit-scrollbar-button:hover {
    background: rgba(100, 100, 100, 0.4);
}

.col_roll {
    scrollbar-color: rgba(100, 100, 100, 0.3) rgba(0, 0, 0, 0.05);
    scrollbar-width: thin;
}
/* --------------------------------------------------- */


